.App {
  text-align: center;
}

ul {
  list-style: none;
}

.list {
  display: flex;
  gap: 4px;
}
.list-item {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 8px;
}

.item-sizes {
  display: flex;
  gap: 8px;
  align-items: end;
  justify-content: end;
  padding: 4px 16px;
}

.item-sizes span {
  border: 1px solid blue;
  display: inline-block;
  padding: 4px;
  min-width: 30px;
}